<div class="row text-center">
<h2><%=@group.name%></h2>
<p><%=@group.description%></p>
<% if @group.member==current_user%>
<h4>Created by <b>YOU!</b></h4>
<hr>
<%else%>
Created by:  <b><%=  @group.member.first_name%></b>
<hr>
<%end%>
<P><strong>Other group Members</strong></P>
<%@members.each do |m|%>
<%=m%>
<br> <br>
<% end%>
<% if current_user.groups_joined.include?(@group)%>
<form action="/memberships" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="group_id" value="<%= @group.id %>">
	<button type="submit" value="Leave" class="btn btn-danger">Leave</button>
</form>
<%else%>
<form action="/memberships" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="group_id" value="<%= @group.id %>">
	<input type="submit" value="Join">
</form>
<% end %>
</div>